body {
  font-family: "Poppins", sans-serif;
  background-color: #ffca97;
}

header {
  border-bottom: 1px solid #f1f6fe;
  padding-bottom: 24px;
}

footer {
  border-top: 1px solid #f1f6fe;
  padding-top: 16px;
  text-align: center;
  font-size: 13px;
  color: #a3aac2;
}

a {
  color: #ae83e2;
}
a:visited {
  color: #e5a378;
}

.background-image {
  background-position: bottom;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.weather-app {
  justify-content: right;
  padding: 30px;
  margin: 60px auto;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  max-width: 600px;
}

.search-form-input {
  background-color: #f6f9fe;
  font-size: 16px;
  border: none;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}
.search-form-input:hover {
  background-color: #edf3fd;
}
.search-form-input::placeholder {
  color: #858ead;
}
.search-form-button {
  background-color: #9c7cc4;
  padding: 20px;
  margin-left: 8px;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.search-form-button:hover {
  background-color: #8656c1;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  margin: 24px 0px;
}

h1.current-city {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 38px;
  line-height: 48px;
}

.current-details {
  margin: 0;
  color: #858ead;
}
.current-details strong {
  color: #000000;
  font-weight: 500;
}

.current-temperature {
  display: flex;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: 600;
  margin-left: 8px;
}

img.current-temperature-icon {
  width: 88px !important;
  height: 88px;
  margin-top: 16px;
}
.current-temparature-unit {
  font-size: 28px;
  position: relative;
  top: 20px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  margin-bottom: 24px;
  padding: 8px;
}

.weather-forecast-icon {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-date {
  text-align: center;
  color: #858ead;
  font-weight: 300;
  font-size: 14px;
}
.weather-forecast-temperatures {
  text-align: center;
  font-size: 14px;
}
.weather-forecast-max-temperature {
  font-weight: 600;
  margin-left: 8px;
}

.weather-forecast-min-temperature {
  padding-left: 2px;
  margin-right: 8px;
}
